{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <h1>Formulaire de contact</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.contactUser.lastname) }}
    {{ form_row(form.contactUser.firstname) }}
    {{ form_row(form.contactUser.email) }}
    {{ form_row(form.message) }}

    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
